/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8f0; /* Light nature-themed background */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Header styles */
header {
  background-color: #004d00; /* Dark green background */
  padding: 10px 0;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Main content styling */
.main-content {
  text-align: center;
  position: relative;
  padding: 20px;
  z-index: 2;
}

.button-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 90%;
}

.button-container p {
  margin: 15px 0;
}

.paragraph-button {
  background-color: rgba(0, 128, 0, 0.5);
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: none;
  display: block;
  margin: 10px auto;
  max-width: 100%;
  transition: background-color 0.3s ease;
  text-align: left;
}

.paragraph-button:hover {
  background-color: rgba(0, 128, 0, 0.7);
}

.left-image, .right-image {
  width: 45%;
  height: auto;
  margin: 10px;
}

.heart-button {
  background-color: rgba(0, 128, 0, 0.5);
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: none;
  display: block;
  margin: 20px auto;
  max-width: 80%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heart-button:hover {
  background-color: rgba(0, 128, 0, 0.7);
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul li {
      display: block;
      margin-bottom: 10px;
  }

  .left-image, .right-image {
      width: 80%;
  }

  .button-container {
      padding: 10px;
  }

  .paragraph-button {
      padding: 10px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .button-container {
      max-width: 95%;
  }
  
  .paragraph-button {
      font-size: 12px;
  }

  .left-image, .right-image {
      width: 100%;
  }
}
